$break-point: 600px;
$break-point-menu-min: 1160px;
$break-point-menu-max: 1390px;
$primary-color: #dfdebb;
$secondary-color: #f5f5ea;

.background {
  background-color: $primary-color;
  display: grid;
  grid-template-areas:
    "header"
    "content";
}
.anchor {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;

  @media only screen and (min-width: $break-point) {
    height: 0px; /*same height as header*/
    margin-top: 0px;
  }
}

a {
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: circle;
  margin: 0 1rem 1rem 1.5rem;
}

.main {
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 2rem;
  grid-area: content;
  margin-top: 7rem;

  @media only screen and (min-width: $break-point) {
    margin-top: 0rem;
  }

  @media only screen and (min-width: $break-point-menu-min) {
    margin: 0 0 0 16rem;
  }

  @media only screen and (min-width: $break-point-menu-max) {
    margin: 0 auto;
  }
}

h3 {
  font-family: Parisienne, "cursive" !important;
  font-size: 30px !important;
  text-align: center;
  margin: 1.5rem 0 1rem !important;

  @media only screen and (min-width: $break-point) {
    font-size: 36px !important;
  }
}

.header {
  &-container {
    grid-area: header;
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    padding: 1rem 0;
    background-color: $secondary-color;

    .hamburger-menu {
      position: fixed;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
  }

  &-text {
    font-size: 14px;
  }

  &-heading {
    font-family: Parisienne, "cursive";
    font-size: 30px;
    margin-bottom: 8px;
  }

  @media only screen and (min-width: $break-point) {
    &-container {
      position: static;
      padding: 2rem 0;
    }
    &-text {
      font-size: 16px;
    }
    &-heading {
      font-size: 50px;
      margin-bottom: 18px;
    }

    &-cover-image {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: $break-point-menu-min) {
    &-container {
      .hamburger-menu {
        display: none;
      }
    }
  }
}

.menu {
  display: none;
  position: fixed;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  &-link {
    padding: 0.5rem 0;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: grey;
      }
    }
  }
  .border {
    border-bottom: 1px solid grey;
    width: 8rem;
    margin: 0 auto;
  }

  @media only screen and (min-width: $break-point-menu-min) {
    display: block;
  }
}

.menu-mobile {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $primary-color;
    opacity: 0.9;
    z-index: 6;
  }

  &-container {
    padding-top: 10rem;
    text-align: center;
    z-index: 7;

    @media only screen and (min-width: $break-point) {
      padding-top: 15rem;
    }
  }
}

.destination {
  background-image: url("../images/Piemonte-cropped.jpg");
  background-size: cover;
  padding: 2rem 1rem;
  text-align: center;

  &-text {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
  }

  @media only screen and (min-width: $break-point) {
    padding: 4rem 2rem;

    &-text {
      padding: 2rem 6rem;
    }
  }
}

.container {
  margin: 1rem;

  &-text {
    padding: 1rem;
    background-color: $secondary-color;
  }

  &-box {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;

    &-title {
      text-align: center;
      font-size: 30px;
      vertical-align: middle;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
    .border {
      border-bottom: 1px solid grey;
      width: 10rem;
      margin: 0.8rem auto 1.2rem auto;
    }
  }
  @media only screen and (min-width: $break-point) {
    margin: 3rem 0 2rem 0;
    &-text {
      padding: 3rem;
    }
    &-box {
      display: grid;
      grid-template-columns: 6rem auto;

      &-title {
        font-size: 38px;
        line-height: 2.5;
      }
    }
  }
}

.slideshow {
  // margin-top: 2rem;
  position: relative;
  background-color: $secondary-color;

  &-images {
    padding: 1rem;
  }

  &-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 2rem;
    margin: 0 1rem;
    &.right {
      right: 0;
    }
  }
  @media only screen and (min-width: $break-point) {
    &-images {
      padding: 1.5rem;
    }
    &-btn {
      width: 3rem;
      margin: 0 1.5rem;
    }
  }
}

.transportation {
  &-block {
    padding-top: 1rem;

    .header {
      font-weight: bold;
      text-decoration: underline;
      padding-bottom: 1rem;
      text-align: center;
    }

    .alternatives {
      display: flex;
      justify-content: center;
      img {
        width: 2rem;
        margin-bottom: 0.5rem;
      }
    }

    .subheader {
      font-weight: bold;
    }

    @media only screen and (min-width: $break-point) {
      .alternatives {
        display: flex;
        justify-content: normal;
        img {
          width: 4rem;
          margin-bottom: 0rem;
        }
      }
    }
  }
}

.happenings {
  margin: 1rem;

  &-container {
    margin: 2rem 0;
    padding: 1rem;
    background-color: $secondary-color;

    img {
      display: none;
    }

    .header {
      font-weight: bold;
      text-align: center;
    }
    .border {
      border-bottom: 1px solid grey;
      width: 10rem;
      margin: 0.8rem auto;
    }
  }

  @media only screen and (min-width: $break-point) {
    margin: 3rem 0 2rem 0;
    &-container {
      display: grid;
      grid-template-columns: 30% auto;
      gap: 1rem;
      padding: 1.5rem;
      background-color: #fff;

      .header {
        padding-bottom: 1.5rem;
      }

      img {
        display: block;
      }

      .border {
        display: none;
      }
    }
  }
}

.toastmadames {
  position: relative;
  &-text {
    padding: 2rem 1rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: $secondary-color;
    opacity: 0.9;
    margin: 0rem 1rem;
  }
  &-details {
    margin-bottom: 1rem;
  }

  &-img {
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
      padding: 0 1rem 0 1rem;
    }
  }

  @media only screen and (min-width: $break-point) {
    margin: 3rem 0 0 0;
    &-text {
      padding: 2rem 3rem;
      margin: 0;
      position: absolute;
      z-index: 5;
      background-color: #fff;
    }

    &-img {
      transform: rotate(90deg);
      margin-top: 28rem;
      &__desktop {
        display: block;
        z-index: 4;
        margin-top: 28rem;
      }

      &__mobile {
        display: none;
      }
    }
  }
}

.surroundings {
  &-box {
    background-color: #fff;
    padding: 1rem 1rem 1.5rem;
    margin: 1.5rem 0;

    &__title {
      text-align: center;
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }
}

.last-text {
  text-align: center;
  padding: 1rem;
}

.rsvp {
  padding: 2rem 1rem;
  background-color: $secondary-color;

  &-kids {
    margin: 3rem 0 0;
    font-style: italic;
  }

  button {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: none;
    cursor: pointer;
    border: 2px solid $primary-color;
    border-radius: 3px;

    &:hover {
      background-color: $secondary-color;
    }
  }

  $primary: #000;
  $secondary: #000;
  $white: #fff;
  $gray: #9b9b9b;

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $gray;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.1s;
    font-size: 0.8rem;
    color: $gray;

    @media only screen and (min-width: $break-point) {
      font-size: 1rem;
    }
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 0.8rem;
      color: $primary;
      @media only screen and (min-width: $break-point) {
        font-size: 1rem;
      }
    }

    padding-bottom: 6px;
    border-width: 2px;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  .radio-buttons {
    margin-top: 2rem;
  }

  input[type="radio"] {
    background-color: #fff;
  }

  @media only screen and (min-width: $break-point) {
    padding: 2rem 3rem;
  }
}

/* radio button*/
.radio-button {
  position: relative;
  margin: 20px 10px 20px 0;
}

.radio-button input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton {
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  background-color: white;
}
.fake-radiobutton:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: $primary-color;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton {
  border-radius: 50%;
}
.fake-radiobutton:after {
  border-radius: 50%;
}

input[type="radio"]:checked + span .fake-radiobutton:after {
  display: block;
}
